
html {
  background-color: #202020;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #c6c1c1;
}

h1, h2, strong {
  color: #c6c1c1;
}

#main_title {
  text-align: center;
}

/******************/
/* Filter Buttons */
/******************/

.filter_buttons {
  width: 100%; 
  max-width: 1000px;
  margin: 0 auto 1em auto;
}

/* Small screen */
@media only screen and (max-width: 1023px) {
  .filter_buttons h3 {
    margin: 0.4em 0.5em 0.4em 0.4em;
  }
}

/* Large screen */
@media only screen and (min-width: 1022px) {
  .filter_buttons h3 {
    margin: 0;
  }
}

.filter_button {
  font-size: 1em;
  color: white;
  background-color: grey;
  border: none;
  border-radius: 1em;
  padding: 0.3em 1em;
  font-weight: bold;
  margin: 0.4em;
}

#all_filter_button {
  font-size: 1em;
  color: white;
  background-color: red;
  border: none;
  border-radius: 0.6em;
  padding: 0.3em 1em;
  font-weight: bold;
  margin: 0.4em 0.5em 0.4em 0.4em;
}

.formula_1_filter_button { background-color: #cb3939; }
.indycar_filter_button { background-color: #7b8dfc; }
.gp2_filter_button { background-color: #70d7ff; }
.formula_2_filter_button { background-color: #70d7ff; }
.filter_button_off { background-color: grey; }

/***************/
/* Event Table */
/***************/

/* Small screen */
@media only screen and (max-width: 1023px) {
  .events_table {
    color: #cecece;
    margin: 0 auto;
    font-size: 0.8em;
    width: 100%;
    max-width: 1000px;
  }
}

/* Large screen */
@media only screen and (min-width: 1022px) {
  .events_table {
    color: #cecece;
    margin: 0 auto;
    font-size: 1.1em;
    width: 100%;
    max-width: 1000px;
  }
}

.events_table > thead > tr {
  height: 60px;
  padding: 0.5em 0 0.5em 0;
  background-color: #544f4f;
  text-align: left;
}

.events_table > tbody > tr {
  height: 60px;
  padding: 0.5em 0 0.5em 0;
  background-color: #393838;
}

.events_table > tbody > tr:hover {
  background-color: #302f2f;
}

a,a:visited,a:link {
  text-decoration: none;
  color: inherit;
}

a { 
   display: block; 
   padding: 16px 0 16px 0;
   margin: 0;
}

.event_row_hidden {
  display: none;
}

.events_table td {
  padding-left: 0.7em;
  border-bottom: 1px solid #333232; 
}

.events_table th {
  padding-left: 0.7em;
  border-bottom: 2px solid grey; 
}

.formula_1_sport {
  color: #cb3939;
  background-image: linear-gradient(90deg, #cb3939, #cb3939 3px, transparent 0, transparent);
}

.indycar_sport { 
  color: #7b8dfc;
  background-image: linear-gradient(90deg, #7b8dfc, #7b8dfc 3px, transparent 0, transparent);
}

.gp2_sport { 
  color: #70d7ff;
  background-image: linear-gradient(90deg, #70d7ff, #70d7ff 3px, transparent 0, transparent);
}

.formula_2_sport{ 
  color: #70d7ff;
  background-image: linear-gradient(90deg, #70d7ff, #70d7ff 3px, transparent 0, transparent);
}
