
html {
  background-color: #e0e0e0;
}

@media only screen {
  body {
    margin: 0 20px 0 220px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #2d2d2d;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    margin: 0 20px 0 20px;
  }
}

h1, h2, strong {
  color: #2d2d2d;
}

#main_title {
  display:inline-block;
  float:right;
  width:70%;
}

/****************/
/* EVENTS TABLE */
/****************/

.events_table {
  padding: 30px;
  margin-bottom: 15px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.events_table_heading {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.events_table_row_arrow {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 0;
  text-align: center;
}

.events_table_data {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 0;
  text-align: left;
  padding: 8px;
}

@media only screen and (max-width: 1023px) {
  .events_table_data {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.events_table_row {
  background-color: #ffffff;
  cursor: pointer
}

.events_table_row:hover {
  background-color: #efefef;
}  

.events_table_row_header {
  background-color: #ffffff;
}

/*************************/
/* SESSION TABLE AND ROW */
/*************************/

.sessions_table {
  padding: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

/* The row in the events table that contains the hidden sessions table*/
.sessions-row {
  display: table-row;
}

.sessions-row-hidden {
  display: none;
}

/* for td inside sessions table */
.sessions_table_data {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* for th inside sessions table */
.sessions_table_header {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* for tr inside sessions table */
.sessions_table_row {
  background-color: #ffffff;
}

.sessions_table_row:hover {
  background-color: #efefef;
}  

/**********/
/*SIDE NAV*/
/**********/

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
}

.sidenav_button {
  text-decoration: none;
  color: #2d2d2d;
  float: left;
}

.sidenav_button:hover {
  color: #bd4646;
}

.sidenav_hidden {
  display: none;
}

.filter-button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.1em;
  display: block;
  margin: 10px 20px 10px 20px;
  border: 2px solid;
  color: #ededed;
  border-radius: 2px;
  border-color: #bd4646;
}

.filter-button-on {
  background-color: #bd4646;
}

.filter-button-off {
  background-color: #111;
  color: #bd4646;
}

.side_nav_heading {
  margin: 0 20px 10px 20px;
  border-bottom: 2px solid;
  color: #ededed;
  border-color: #ededed;
}

.side_link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  margin: 10px 20px 10px 20px;
  border: 2px solid;
  border-radius: 2px;
  border-color: #4983d6;
  background-color: #4983d6 ;
}

.side_link h2,h3 {
  margin: 0;
  color: #ededed;
}
