
html {
  /* background-color: #e0e0e0; */
  background-color: #ffffff;
}

@media only screen {
  body {
    margin: 0 20px 0 220px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #2d2d2d;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    margin: 0 20px 0 20px;
  }
}

h1, h2, strong {
  color: #2d2d2d;
}

#main_title {
  display:inline-block;
  float:right;
  width:70%;
}

/**********/
/*SIDE NAV*/
/**********/

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
}

.sidenav_button {
  text-decoration: none;
  color: #2d2d2d;
  float: left;
}

.sidenav_button:hover {
  color: #bd4646;
}

.sidenav_hidden {
  display: none;
}

.filter-button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.1em;
  display: block;
  margin: 10px 20px 10px 20px;
  border: 2px solid;
  color: #ededed;
  border-radius: 2px;
  border-color: #bd4646;
}

.filter-button-on {
  background-color: #bd4646;
}

.filter-button-off {
  background-color: #111;
  color: #bd4646;
}

.side_nav_heading {
  margin: 0 20px 10px 20px;
  border-bottom: 2px solid;
  color: #ededed;
  border-color: #ededed;
}

.side_link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  margin: 10px 20px 10px 20px;
  border: 2px solid;
  border-radius: 2px;
  border-color: #4983d6;
  background-color: #4983d6 ;
}

.side_link h2,h3 {
  margin: 0;
  color: #ededed;
}

/***************/
/* Event Cards */
/***************/

.event_card {
  display: inline-block;
  border: 1px solid #484848;
  color: #484848;
  border-radius: 0.3em;
  width: 40em;
  text-align: left;
  text-decoration: none;
  padding-top: 0.4em;
  margin: 0.7em;
}

.event_card_header {
  font-size: 2.0em;
  padding: 0 1em 0 0.7em;
}

.event_card_content {
  border-bottom: 1px solid #484848;
  font-size: 1.5em;
  padding: 0 1em;
}

.event_card_footer {
  font-size: 1.1em;
  padding: 1em;
  display: inline;
}

.event_card_footer_subtext {
  float: inline-start;
  padding: 1em;
}

.event_card_footer_details_link {
  float: inline-end;
  padding: 1em;
}

.event_card_footer_details_link a {
  color: white;
  padding: 0.4em;
  margin: 0;
  text-decoration: none;
  border-radius: 0.3em;
  border-color: #4983d6;
  background-color: #4983d6 ;
}

/********/
/* Tags */
/********/

.sport_tag {
  font-size:0.5em;
  vertical-align: middle;
  background-color: grey;
  color: white;
  border-radius: 2em;
  padding: 0.3em 0.6em;
  font-weight: bold;
}

.formula_1_tag {
  background-color: red;
}

.indycar_tag {
  background-color: blue;
}

.gp2_tag {
  background-color: green;
}

/*********/
/* Names */
/*********/

.event_card_sport_name {
  text-decoration: underline;
}

.formula_1_name {
  color: #bf3f3f;
}

.indycar_name {
  color: #0b1d89;
}

.gp2_name {
  color: #00adef;
}

.formula_2_name {
  color: #00adef;
}
