<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/style.css">
<script src="static/script.js"></script>
<link rel="apple-touch-icon" sizes="57x57" href="static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/faviconmanifest.json">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>

<body id="page" onload="hideSideNavIfMobile()">
<h1><a class="sidenav_button" href="#" onclick="toggleSideNav()">&#9776;</a></h1>
<h1 style="display:inline-block;float:right;width:70%;">Upcoming Motorsport Events</h1>

<div class="content">
  <table class="events_table" id="events_table">
    <thead>
      <tr class="events_table_row_header" >
        <th class="events_table_heading" colspan="2" >Sport</th>
        <th class="events_table_heading" >Location</th>
        <th class="events_table_heading" >Dates</th>
      </tr>
    </thead>
    {% for event in events %}
    <tbody>
    <tr class="events_table_row" onclick="toggle_session_row(this)">
      <td class="events_table_row_arrow"><b>+</b></td>
      <td class="events_table_data">{{ event.sport }}</td>
      <td class="events_table_data"><b>{{ event.country }}</b>, {{ event.location }}</td>
      <td class="events_table_data">{{ event | event_date_range }} </td>
    </tr>
    <tr class="sessions-row-hidden">
      <td colspan="3">
        <table class="sessions_table">
          <tr class="sessions_table_row">
            <th class="sessions_table_header">Session name</th>
            <th class="sessions_table_header">time</th>
          </tr>
          {% for session in event.sessions %}
          <tr class="sessions_table_row">
            <td class="sessions_table_data">{{ session.name }}</td>
            <td class="sessions_table_data">{{ session | session_date(utc_offset=offset) }}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

<div id="mySidenav" class="sidenav">
  <div id="sidenavFilterButtons">
    <h2 class="side_nav_heading"> FILTERS </h2>
    <a id="all_filter" class="filter-button filter-button-on" href="#" onclick="toggle_button_clicked(this,'ALL')">ALL</a>
    {% for sport_type in sport_types %}
    <a class="filter-button filter-button-off" href="#" onclick="toggle_button_clicked(this,'{{ sport_type }}')">{{ sport_type }}</a>
    {% endfor %}
  </div>
  <div id="sideNavLinks">
    <h2 class="side_nav_heading"> LINKS </h2>
    <a class="side_link" href="static/about.html"><h3> ABOUT </h3></a>
    <!-- <a class="side_link" id="close_button" href="#" onclick="hideSideNav()"><h3> CLOSE </h3></a> -->
  </div>
</div>
</body>
</html>
